{% extends 'base.html' %}
{% load static %}
{% block title %}Smart BOPM Reader - SBR{% endblock %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center shadow-2-strong"
        style="background-image: linear-gradient(to right, #fffafa , #00508a);">
        <div class="col-12 col-md-4 p-2 d-flex align-items-center" width = "300px">
            <img height="100px" src="{% static "imagens/Brasao180-2.png" %}">
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
            <div class="h1 text-dark">Sistema de Importação de BOPM digitalizados </div>
        </div>
        <div class="col-12 col-md-4 text-end">
            <img style="size: 12px;" src= "{% static "imagens/IC-Logo.png" %}">
        </div>
    </div>
    <br />
    <div class="container-fluid d-flex justify-content-center ">
        <div class="row ">
            <div class="card col-4 mx-2">
                <div class="d-flex justify-content-center align-items-center">
                    <img width="50%" class="p-3" src="{% static "imagens/caesbrasao.png" %}">
                </div>
                <div class="row h1 d-flex justify-content-center align-items-center">
                    CAES
                </div>
                <div class="row h5 d-flex justify-content-center align-items-center text-center">
                    Coordenadoria de Assuntos<br /> Estratégicos
                </div>
                <br/>
            </div>
            <div class="card col-7 flex-grow-1">
                <h3 class="text-center card-title mt-3" style="color: #00508a">Qual arquivo desejado para importação?</h3>
                <div class=" h-100 d-flex align-items-center mb-5">
                    <form id="fileForm" class="formulario  w-100 " action="{% url 'uploadfiles:uploadFile' %}" method="post"
                        enctype="multipart/form-data">
                        <!--<label for="formFile" class="form-label-->
                        <div class="text-center">
                            {% load account %}
                            {% csrf_token %}
                            <input id="usuario" class="form-control form-control-lg " type="text" name="usuario"
                            value={% user_display user %} readonly> <br>

                            <input id="fileNumber" class="form-control form-control-lg " type="text" name="fileNumber"
                                placeholder="Digite o número do BOPM que será lido pelo sistema" required> <br>
                    
                            <input id="uploadedFile" class="form-control form-control-lg " type="file" name="uploadedFile" required><br><br>
                            
                            <div class="form-group">
                                <input type="submit" name="enviar" value="Enviar arquivo" class="btn btn-outline-success btn-rounded w-50">
                                <!-- <script type="text/javascript" src="{% static 'js/uploadFile.js' %}"></script> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}